ADZUNA_APPLICATION_ID=
ADZUNA_APPLICATION_API_KEY=
ADZUNA_SORT_BY=date
ADZUNA_MAX_DAYS_OLD=1

POSTGRESS_HOST=postgresjob
POSTGRESS_PORT=5432
POSTGRESS_DBNAME=ragdb
POSTGRESS_USER=postgres
POSTGRESS_PASSWORD=postgres

# POSTGRESS_HOST=host.docker.internal
VECTORDB_HOST=pgvectorjob
VECTORDB_PORT=5432
VECTORDB_DBNAME=postgres
VECTORDB_USER=postgres
VECTORDB_PASSWORD=postgres

EMBEDDING_MODEL_HOST= http://ollama:11434

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=

TELEGRAM_TOKEN=
MCP_SERVER_URL=

# http://localhost:8000/api/jobs?search=python developer with remote having 2 years experience&page=323
# curl "https://api.telegram.org/bot<TELEGRAM_TOKEN>/setWebhook?url=https://a1b2-203-0-113-5.ngrok-free.app/telegram/webhook"
# curl "https://api.telegram.org/bot<TELEGRAM_TOKEN>/getWebhookInfo"

# python -c "import asyncio; from MCP.agent_client import run_agent; print(asyncio.run(run_agent('python developer remote')))"