ADZUNA_APPLICATION_ID=
ADZUNA_APPLICATION_API_KEY=
ADZUNA_SORT_BY=date
ADZUNA_MAX_DAYS_OLD=1

POSTGRESS_HOST=postgresjob
POSTGRESS_PORT=5432
POSTGRESS_DBNAME=ragdb
POSTGRESS_USER=postgres
POSTGRESS_PASSWORD=postgres

# POSTGRESS_HOST=host.docker.internal
VECTORDB_HOST=pgvectorjob
VECTORDB_PORT=5432
VECTORDB_DBNAME=postgres
VECTORDB_USER=postgres
VECTORDB_PASSWORD=postgres

EMBEDDING_MODEL_HOST= http://ollama:11434

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=